@model IEnumerable<Internet_shop.Models.Human>
@{
    ViewData["Title"] = "Показать человечка";
}
@section Footer {
    Все человеки
}
<a asp-controller="Registration" asp-action="ShowHuman">Добавить модель</a>
<table  class="table">
    <tr><td>Ім'я</td><td>Пошта</td><td>Пароль</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.Mail</td><td>@item.Password</td></tr>
    }
</table>