<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="container">
        <header class="main-header">
            <nav class="main-navigator">
                <ul class="types">
                    <li class="type-item">
                        <p> <a href="#">Мужчинам</a></p>
                    </li>
                    <li class="type-item">
                        <p> <a href="#">Женщинам</a></p>
                    </li>
                    <li class="type-item">
                        <p><a href="#">Детям</a></p>
                    </li>
                </ul>
                <a class="main-header-logo" href="/">
                    <img src="~/images/nerds-logo.svg" alt="Логотип сайта">
                </a>
                <ul class="user-navigation">
                    <li class="user-item">
                        <p>
                            <a asp-area="" asp-controller="Registration" asp-action="Authorization">Войти</a>
                        </p>
                    </li>
                    <li class="user-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 20">
                            <g fill="#000">
                                <path d="M5.657 2.031L5.422 0H0v2h3.64l1.5 13h13.988l1.699-12.969H5.657zM17.372 13H6.922L5.888 4.031h12.66L17.372 13z" />
                                <circle cx="6.984" cy="18" r="2" />
                                <circle cx="15.984" cy="18" r="2" />
                            </g>
                        </svg>
                        <p>Корзина</p>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="picker">
            <ul class="items-list">
                <li>
                    <p class="choose-item">
                        <a href="#">Новинки</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Одежда</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="/Home/Show">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Обувь</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Аксессуары</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Бренды</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Спорт</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Красота</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="choose-item">
                        <a href="#">Дом</a>
                    </p>
                    <div class="items-catalog">
                        <div class="items-column">
                            <h4>Одежда</h4>
                            <ul class="goods">
                                <li><a href="#">Брюки</a></li>
                                <li><a href="#">Верхняя одежда</a></li>
                                <li><a href="#">Джемперы, свитеры и кардиганы</a></li>
                                <li><a href="#">Джинсы</a></li>
                                <li><a href="#">Нижнее белье</a></li>
                                <li><a href="#">Рубашки</a></li>
                                <li><a href="#">Толстовки</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Обувь</h4>
                            <ul class="goods">
                                <li><a href="#">Ботинки</a></li>
                                <li><a href="#">Кеды</a></li>
                                <li><a href="#">Кроссовки</a></li>
                                <li><a href="#">Туфли</a></li>
                            </ul>
                        </div>
                        <div class="items-column">
                            <h4>Аксессуары</h4>
                            <ul class="goods">
                                <li><a href="#">Головные уборы</a></li>
                                <li><a href="#">Кошельки и визитницы</a></li>
                                <li><a href="#">Рюкзаки</a></li>
                                <li><a href="#">Сумки</a></li>
                                <li><a href="#">Шарфы и платки</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="search-form" action="base.php" method="POST">
                <!--Тут походу має бути якийсь ваш файл-->
                <p>
                    <label for="main-search" class="visually-hidden">Окно поиска</label>
                    <input type="text" name="search" class="main-search-user" id="main-search" placeholder="Поиск">
                </p>
                <button class="search-button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17"
                         height="17" viewBox="0 0 17 17">
                        <path fill="#fff"
                              d="M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z" />
                    </svg>
                </button>
            </form>
        </section>
    </div>



    @*<section class="modal modal-login ">
        <h2>Личный кабинет</h2>
        <p class="modal-description">Введите свой логин и пароль.</p>
        <form asp-action="Authorization" asp-controller="Registration" class="login-form">
            <div class="form-group">
                <label asp-for="Mail" class="control-label">Логин</label>
                <input type="text" asp-for="Mail" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <p class="login-password-info">
                <label class="login-checkbox">
                    <input type="checkbox" name="remember" class="visually-hidden">
                    <span class="checkbox-indicator"></span>
                    Запомните меня
                </label>
                <a href="#" class="restore"><br />Я забыл пароль!</a>
            </p>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-default" />
                <a asp-area="" asp-controller="Registration" asp-action="CreateHuman">Регістрація</a>
                </div>
        </form>
            <button class="modal-close" type="button">Закрыть</button>
        </section>
        <script src="js/popup.js"></script>*@



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @if (IsSectionDefined("Footer"))
                {
                    @RenderSection("Footer")
                }
                else
                {
                    <span>Содержание элемента footer по умолчанию.</span>
                }
                2019
            </footer>
        </div>


    </body>
    </html>
