@model IEnumerable<Internet_shop.Models.Shirt>
@{
    ViewData["Title"] = "Показать маечку";
}


    <div class="shirts">
        @foreach (var item in Model)
        {
         <div class="shirt-item">
            <img src="@item.Image" alt="Alternate Text" width="330px" />
            <p class="item-description">
                <span class="item-price">@item.Price</span>
                @item.Name
            </p>
         </div>
        }
    </div>


